/* @override 
	http://uzit.urbanzen.org/wp-content/themes/MissionWP22/stylesheets/override/base.css?ver=20121010 */

/* Fonts */
@font-face {
    font-family: 'Conv_HelveticaNeueLTStd-Lt';
    src: url('fonts/HelveticaNeueLTStd-Lt.eot');
    src: local('☺'), url('fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-Lt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Conv_HelveticaNeueLTStd-LtEx';
	src: url('fonts/HelveticaNeueLTStd-LtEx.eot');
	src: local('☺'), url('fonts/HelveticaNeueLTStd-LtEx.woff') format('woff'), url('fonts/HelveticaNeueLTStd-LtEx.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-LtEx.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_HelveticaNeueLTStd-Roman';
	src: url('fonts/HelveticaNeueLTStd-Roman.eot');
	src: local('☺'), url('fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_HelveticaNeueLTStd-ThEx';
	src: url('fonts/HelveticaNeueLTStd-ThEx.eot');
	src: local('☺'), url('fonts/HelveticaNeueLTStd-ThEx.woff') format('woff'), url('fonts/HelveticaNeueLTStd-ThEx.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-ThEx.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* OVERRIDES */
.mainNav a:hover, .mainNav .active, .current-menu-item a, .sub-menu .current-menu-item a, .current_page_item a, .home .homelink a {color:#63bfda;}

* {
    font-family: "Conv_HelveticaNeueLTStd-Lt", "Helvetica", "Open Sans", Arial, serif;
}
html{
    background-color:#000000;
    color:#fff;
    font-family: "Conv_HelveticaNeueLTStd-Lt", "Helvetica", "Open Sans", Arial, serif;
}
body{
    padding-top: 85px;
    @media screen and (min-width: 768px) {
        padding-top:100px;
    }
}
.container.noBannerContent{
	padding-top: 20px !important;
}
.pageContent.withContent{
    margin-top:20px;
}
h1, h2, h3, h4 {
    font-weight:100;
}

h1, h2{
    color:#fff;
}
h3, h4{
    color:#63bfda;
}
h1, h3{
    font-family: "Conv_HelveticaNeueLTStd-ThEx", "Helvetica", "Open Sans", Arial, serif;
}
h2, h4{
    font-family: "Conv_HelveticaNeueLTStd-LtEx", "Helvetica", "Open Sans", Arial, serif;
}
h1{
    font-size:35px;
}
h2{
    font-size:20px;
}
h3{
    font-size:35px;
    line-height: 1.1em;
}
h4{
    font-size:20px;
}
p, a{
    font-family: "Conv_HelveticaNeueLTStd-Lt", "Helvetica", "Open Sans", Arial, serif;
    font-weight: 100;
    letter-spacing:1px;
    font-size: 16px;
    line-height: 1.3em;
}
p{
    color: #fff;
}
header{
    padding-top:0;
    padding-bottom:85px;
}
/* CSS FOR BOXES */
span.caption{
    position:absolute;
    color:#63bfda;
    text-align:center;
    font-size: 18px;
    font-weight:100;
    display:block;
    width:100%;
    z-index:2;
    top: 50%;
    margin-top:0px;
}
span.caption.two-lines{
    margin-top:0px;
}

.box img{
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
-moz-opacity: .5;
-khtml-opacity: .5;
opacity: .5;
max-width: 100%;
}
.grid .box img:hover, .box:hover img{
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1;
}
/* END */
/* ICONS */
.youtube i { font-size: 12px; }

.footer{
    width: 100%;
    border-top: 1px solid #161616;
    border-bottom: 1px solid #161616;
    margin: 10px 0;
    padding:20px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.footer .nav-container ul{
    margin:0;
}
.footer .nav-container li{
    float: left;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #666;
    letter-spacing: 1px;
}
.footer .nav-container li:first-child{
    border-right:none;
}
.footer .nav-container li:last-child{
    border-right:none;
    padding-right:0;
    margin-right:0;
}
.footer .nav-container a{
    font-family: "Conv_HelveticaNeueLTStd-ThEx", "Helvetica", "Open Sans", Arial, serif;
    color: #999;
    text-decoration: none;
    font-size: 12px;
}
.footer .nav-container a:hover{
    color:#63bfda;
    text-decoration:none;
}
.footer .copyright-container{
    float:right;
    font-size:12px;
}
.footer .copyright-container span.copyright{
    font-size:12px;
    color: #999;
    letter-spacing:0;
}
.footer .copyright-container a{
    font-family: "Conv_HelveticaNeueLTStd-ThEx", "Helvetica", "Open Sans", Arial, serif;
    color: #999;
    text-decoration: none;
    font-size: 12px;
    letter-spacing:0;
}
.carousel-thumb{
    position:relative;
}
.carousel-thumb:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.carousel-thumb-caption{
    text-align:center;
    position:absolute;
    top:50%;
    margin-top:-15px;
    height:30px;
    font-size:24px;
    color:#fff;
    display:block;
    width:100%;
    line-height:30px;
    font-family:"Conv_HelveticaNeueLTStd-ThEx", "Helvetica", "Open Sans", Arial, serif;
}
.flex-active-slide .carousel-thumb-caption, .carousel-thumb-caption:hover{
    color:#63bfda;
}
.flex-direction-nav a{
    background: transparent url('images/direction_nav_2.png') no-repeat 0 0;
    /*width: 67px;height: 68px;*/
    width:36px;
    height:56px;
    margin: -34px 0 0;
}
.flex-direction-nav li:first-child a{
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
.flex-direction-nav li:last-child a{
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
.flex-direction-nav a:hover{
    background-color:#313031;
}
.logo-container{
    padding-bottom:2px;
    position:relative;
    float: left;
}
.top-back-link{
    display:block;
    width:100%;
}
.top-back-link a{
    color: #999;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.07em;
}
.top-back-link a:hover{
    color:#63bfda;
}
#topbar{
    z-index:3000;
    border-bottom: 1px solid #555;
    /*box-shadow: 1px 0px 5px 0px #666;
    -webkit-box-shadow: 1px 0px 5px 0px #666;
    -moz-box-shadow:    1px 0px 5px 0px #666;*/
    -box-sizing: border-box;
}
.trans_bg{
    background: url('../images/trans_bg.png') repeat 0 0;
    height:100%;
    width:100%;
}
.color-blue{color:#3a81b7;}
.carouselWrapper{
    background-color:#000000;
    padding:20px 0 15px 0;
}
.pageContent .container{
    background-color:#000;
}
.pageTitle{
    color:#ffffff;
}
.pageContent .container{
    margin-top:0;
}
#slider span{}
/* Thickbox */
.popup {display:none;}
#TB_ajaxContent{
    padding:15px;
}
#TB_ajaxContent *{
    color:#fff;
}
#TB_ajaxContent{
    background-color:#000;
}
#TB_ajaxContent h1{
    font-size: 25px;
}
#TB_ajaxContent p{
    font-size: 15px;
    padding:0;
    margin-bottom:10px;
}
#TB_window{
    z-index:4000;
}
#TB_window a{
    color:#fff;
}
#TB_window a:hover, #TB_window a:visited, #TB_window a:link{
    color:#fff;
}
/* SEARCH OVERRIDES */
.button-small-theme, .button-small-theme:hover{
    border:1px solid #63BFDA;
    background:none;
    color:#63BFDA;
    /*
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    */
    cursor: pointer;
   float: right;
}


ul.sf-menu li.current-menu-item a.sf-with-ul, ul.sf-menu .current-menu-ancestor a.sf-with-ul{
    color:#63bfda;
}
li.current-menu-item a{
    color:#63bfda;
}
li.current-menu-item ul.sub-menu a{
    color:#fff;
}

.mainNav ul.sub-menu li{
    background:#1B1B1B;
    border:1px solid #1b1b1b;   
}
.sf-menu li ul li:first-child{
    padding-top:0px;
}
.sf-menu li ul li:last-child{
    padding-bottom:0px;
}
li#menu-item-3813.menu-item a{
    background-color: #6DC4DF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-indent: 0;
    display: inline-block;
    color: #FFF;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
       cursor: pointer;
    margin-right: 0px;
    outline: none;
    font-family: "HelveticaNeueLTStd-Md", "Helvetica", "Open Sans", Arial, serif;
    height: 24px;
    line-height: 24px;
    padding: 0 12px;
    margin-top: 10px;
}
li#menu-item-3813.menu-item:hover{
	background: transparent !important;
}
li#menu-item-3813.menu-item a:hover{
    background-color: #60ADC4;
    color: #fff;
}
/* END */


/* SOCIAL AND SEARCH FORM */
.secondaryNav.uzit-secondaryNav{
    top:45px;
}
.secondaryNav .icon-plus-circled{display:none;}
.searchForm{
    background-color:transparent;
}
.topBarSearch{
    -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.75);
    width: 300px;
    border: 1px solid #888;
    top: 80px;
}
.searchForm form{
    display:inline-block;
    margin-bottom:0;
}
.searchForm input[type="text"]{
    width: 140px;
    float: left;
    margin: 0;
    height:14px;
}
.mainNav a{
    font-size:13px;
    font-weight:bold;
}
ul.mainNav li.menu-item-323 a{
    color:#63bfda;
}
.flex-caption-container{
    /*background: transparent url('images/trans_black_bg.png') repeat 0 0;*/
    padding:15px;
    background:none;
}

div.flex-caption-default{
    position: absolute;
    margin:-27px 0 0 0;
    left: 30px;
    top: 50%;
}

div.flex-caption-default h1{
    font-family:"Conv_HelveticaNeueLTStd-ThEx", "Helvetica", "Open Sans", Arial, serif;
    font-size:3em;
    line-height:1.3em;
}
div.flex-caption-default p{
    font-family:"Conv_HelveticaNeueLTStd-Lt", "Helvetica", "Open Sans", Arial, serif
}

a.button, .flex-caption a.button{
    width: 100%;
    text-align: center;
    padding: 10px 0 5px 0;
    letter-spacing: 1px;
    display: inline-block;
    margin: 0;
    font-weight: 100;
    color: #63bfda;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid #63BFDA;
}
#PartnerContainer a.button{
    border:none;
    font-size:18px;
}
#Partner{
    width:940px;
    margin:0 auto;
}
#Partner .partner-logo img{
    width:100%;
}
#Partner .partner-logo{
    width:300px;
    margin-right:20px;
    float:left;
}
#Partner .partner-description{
    float:left;
    width:620px;
}
a.button:hover{
    background-color:#63bfda;
    color:#ffffff;
}
#PartnerContainer a.button{
    text-transform:uppercase;
}
#PartnerContainer a.button:hover{
    background:none;
}
.flex-caption a.button{
    width:180px;
    margin-top:18px;
}
.flex-caption a.button:hover{
    color:#fff !important;
    background-color:#63bfda;
}
.searchForm input[type="submit"].button-small-theme{
    float: right;
    margin: 0;
    padding: 3px 20px;
    background-color: #7E8083;
    color: #FFF;
    width: 100px;
    margin-left: 10px;
    font-family: "Conv_HelveticaNeueLTStd-Lt", "Helvetica", "Open Sans", Arial, serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    cursor: pointer;
    height: 28px;
    font-weight: bold;
    line-height: 27px;
}
.secondaryNav li{
    border-radius: 30px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    width: 10px;
    text-align: center;
    margin: 0 4px;
    padding: 0px 6px;
    background-color: #8E959C;
    cursor:pointer;
}
.secondaryNav a{
    padding:0;
    color:#231f21;
    font-size:12px;
}
.secondaryNav a:hover, .secondaryNav li:hover a{
    color:#ffffff;
}
.secondaryNav li{
    background:#444;
}
.secondaryNav li:hover{
    background:#8E959C;
}
.secondaryNav li.donate {
    float: right;
    margin-left: 8px;
    margin-right:0;
    width:85px;
    color:#63bfda;
    border:1px solid #63bfda;
    background-color:#000;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-weight:bold;
}
.secondaryNav li.donate a{
    font-weight: bold;
    font-size:11px;
    color:#63bfda;
    display: inline-block;
}
.secondaryNav li.donate:hover{
    background-color:#63bfda;
}
.secondaryNav li.donate:hover a{
    color:#fff;
}
.slogan-container{
    position: absolute;
    bottom: 5px;
    left: 85px;
    width: 220px;
    line-height: 1em;
    white-space: normal;
}
.slogan-container a{
    text-decoration:none;
    line-height:1em;
}
/* Header & UZIT Nav */
.flex-direction-nav a{
    margin-top:-40px;
}
.mainNav{
    /*
    display:block;
    width:100%;
    bottom: 0;
    right: 0;
    */
    position: absolute;
    right: 0;
    bottom:5px;
    border: none;
}
.mainNav a{
    padding: 5px 10px 0;
}
.mainNav #menu-uzit a{
    font-weight: bold;
    font-size: 12px;
    font-family: "Conv_HelveticaNeueLTStd-LtEx", "Helvetica", "Open Sans", Arial, serif;
    letter-spacing:0;
}

#menu-uzit a:hover{
    color:#63bfda;
}
.mainNav a{
    color:#fff;
}
li.current-menu-parent a{
    color:#63bfda;
}
li.current-menu-parent li a{
    color:#fff;
}
/* Footer Nav */
.smallFooterRight{
    float:left;
}
.footer.nav{}
.footer.nav li{
    text-align:center;
    margin:0 5px;
}
.footer.nav li a{
    color:#fff;
    display:inline-block;
    font-weight:100;
    font-size:13px;
    word-spacing:1px;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul{
    top:20px;
}
.horizontalWidgetArea{
    margin-top:15px;
}
.horizontalWidgetArea h3{display:none;}
/* homepages slider */
.sliderWrapper{
    margin-top:0px;
}
.single-post_team .slider-container{
	width: 100% !important;
}
.flex-caption div{
    width:480px;
    bottom:25px;
    left:0;
    padding:0;
}
.flex-caption a:hover h1{
    /*background: transparent url('images/trans_black_bg.png') repeat 0 0 !important;*/
    background:none;
}
.flex-caption a h1{
    font-family: "Conv_HelveticaNeueLTStd-ThEx", "Helvetica", "Open Sans", Arial, serif;
    /*background: transparent url('images/trans_black_bg.png') repeat 0 0 !important;*/
    padding:0;
    line-height:1.0em;
}
.flex-caption div:first-child a{
    background:none;
}
.flex-caption div:first-child a:hover{
}
.flex-caption-decription{
    font-family: "Conv_HelveticaNeueLTStd-Lt", "Helvetica", "Open Sans", Arial, serif;
    color:#ffffff;
    font-weight:100;
    font-size:20px;
    border-bottom:none;
    line-height:1.3em;
    background:none;
    padding:0;
    -webkit-font-smoothing:antialiased;
    min-width:480px;
    /*
    -webkit-text-stroke-width: .05px;
    -webkit-text-stroke-color: white;
    
    */
}
.flex-caption-decription ul{
    margin:0 0 0 5px;
    font-size:11px;
}
.flex-caption-decription ul li{
    list-style-type:disc;
    list-style-position:inside;
}
.logo-slogan{
    font-family: "Conv_HelveticaNeueLTStd-LtEx", "Helvetica", "Open Sans", Arial, serif
}
.homePageContent p{
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 1px;
}


/* EVENTS */
.dd_events h1 a, .dd_events_post h1 a{
    color:#fff;
}

/* UZIT */

/** uzit five modalities */
#UZPost-561 .uzit-posts{}
#UZPost-561 .uzit-posts.pageContent .container{}

.uzit-posts .pageTitle{color:#555;}
#UzitSlider.sliderWrapper{
    margin-bottom:28px;
}
#About.pageContent{margin-top:0;}
.uzit-posts.pageContent .container{background-color:#000;}
#UzitContent .widget h3{
    color:#000;
    border-bottom: none;
}
.sliderWrapper{
    margin-bottom:20px;
}
#UzitCarousel.carouselWrapper{display:none;}

.section{
    margin: 10px 0 20px;
}
.col{
    float:left;
    margin-right:10px;
    width:225px;
    height:150px;
    background-size:contain;
    background-repeat:no-repeat; 
    overflow:hidden;
}
 .col img{
     width:100%;
}
 .col a{
    width:100%;
    height:100%;
    display:inline-block;
}
#UzitContent  .col:last-child{
    margin-right:0;
}

/* Template UZIT Default Page */
#BGWhite{}
#BGWhite .sliderWrapper{
    margin-top:0;
}
#BGWhite div.flex-caption-default{
    left:25px;
    top:50%;
    margin:-31px 0 0 0;
}
#BGWhite .postContent{
    padding:0 25px;
}
#BGWhite p{
    color:#444;
}

/* Widgets */
.buttons .box a{
border:1px solid #63bfda;
width: 100%;
height: 65px;
display:block;
text-align: center;
line-height:1.3em;
}
.buttons .box a:hover{
background-color: #63bfda;
color:#fff;
}
.buttons .box span{
display: table-cell;
text-align: center;
width: 300px;
vertical-align: middle;
height: 65px;
}

/* CONTACT */
#UzitContact h1{
    font-size:45px;
    font-weight:100;
    color:#fff;
}
#UzitContact p, #InquiryForm .field label{
    font-size:14px;
    color:#fff !important;
    font-weight:100;
}
#InquiryForm .field{
    width:100%;
}
#InquiryForm .field input[type="text"], #InquiryForm .field select, #InquiryForm .field textarea{
    width:100%;
}
#InquiryForm .label-required{
    font-style:italic;
    font-size:12px;
    color:#fff;
}
#InquiryForm .field.error{
    
}
/* END */

/* SEARCH FORM */
#searchform{}
#searchform input[type='submit']{
    height: 33px;
    line-height: 34px;
    border: none;
    font-size: 16px;
    float: left;
}
#searchform input[type='submit']:hover{
    color:#fff;
    cursor:pointer;
}
#searchform input.field{
    background: #3D3D3D;
    border: 1px solid #555;
    float: left;
    width:220px;
    line-height: 19px;
    padding-left: 8px;
    color: #999;
}
#searchform a.close-searchform{
    background-color: #444;
    height: 33px;
    line-height: 38px;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 0 0px;
    float: left;
    color: #ccc;
}
#searchform a.close-searchform:hover{
    background-color:#aaa;
    color:#fff;
}
/* END */

@media only screen and (max-width: 767px) {
.sliderWrapper.hide-mobile{
	display: none !important;
}
}
.button.spacing{
	width: auto !important;
}
.spacing{
	padding: 10px 10px 5px 10px !important;
}

.pull-left{
	float: left !important;
}

@media only screen and (max-width: 767px) {
    #cssmenu #menu-uzit ul{
    display: none !important;
    }
}

.blog-nav ul{
    text-align: center;
    display: flex;
    justify-content: center;
}