.find-popup{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:rgba(0,0,0,.70);
	@media screen and (min-width: 768px) {		
		display: flex;
		align-items: center;
		justify-content: center;
	}
	z-index: 99999;
	opacity: 0;
	visibility: hidden;
	&.open{
		opacity: 1;
		visibility: visible;
	}
	.popup-body{
		background: white;
		@media screen and (min-width: 768px) {		
			width: 800px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		color:black;
		position: relative;
		.close{
			position: absolute;
			top: 14px;
			right: 20px;
			font-size: 28px;
			color: white;
			@media screen and (min-width: 768px) {	
				color: black;
			}
		}
		.popup-image{
			width: 100%;
			@media screen and (min-width: 768px) {		
				width: 50%;
			}
			img{
				width: 100%;
				display: block;
				&.desktop{
					@media screen and (max-width: 768px) {	
						display: none;
					}
				}
				
					&.mobile{
						@media screen and (min-width: 768px) {	
							display: none;
						}
					}
					&.desktop{
						@media screen and (min-width: 768px) {	
							display: block;
						}
					}
				}


		}
		.popup-description-form{
			max-width: 100%;
			display: block;
			@media screen and (min-width: 768px) {		
				width: 50%;	
				padding: 30px 20px 10px;
			}
			text-align: center;
			padding: 10px 20px 10px;
			p, input,h2{
				color:black;
			}
			h2{
				text-transform: uppercase;
				font-size: 22px;
				letter-spacing: .15em;
			}
			p{
				font-size: 14px;
				letter-spacing: .07em;
				margin-bottom: 0;
				line-height: 1.5em!important;
			}
			#mc_embed_signup .mc-field-group{
				padding-bottom: 0;
			}
			.mc-field-group{
				position: relative;
				div.mce_inline_error{
					position: absolute;
					font-size: 10px!important;
					background: transparent!important;
					top: 31px;
				}
			}
			input{
				display: inline-block;
				margin-bottom: 4px;
				border-radius: 0!important;
				letter-spacing: .07em;
				font-family: "Conv_HelveticaNeueLTStd-Lt", "Helvetica", "Open Sans", Arial, serif;
			}
			button{
				display: block;
				margin: 0 auto;
				background: black;
				color: white;
				border:none;
				height: 34px;
				padding: 0 20px;
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: .1em;	
			}
		}
	}
}