	.video-responsive{
		width: 100%;
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.homePageContent	.video-responsive{
		margin-bottom: 5px;
	}

	.member .summary .pull-left{
		float: none!important;
        
   }
.hide-desktop{
	@media screen and (min-width: 768px) {	
		display: none!important;
	}
}
.hide-mobile{
	@media screen and (max-width: 768px) {
	display: none!important;
	}
}