.how-i-uzit-content{
	background-color: white;
	padding-top: 0;
	.container{
		padding-top: 0!important;
		background-color: white!important;
	}
}

.how-i-uzit-post{
	background: white;
	.how-i-uzit-post-header{
		background: black;
		.how-i-uzit-post-content{
			max-width: 1260px;
			margin: 0 auto;
			@media screen and (min-width: 768px) {		
				display: flex;
				align-items: center;
				justify-content: center;
			}
			background: black;
			.post-title-excerpts{
				padding: 2em 0;
				@media screen and (min-width: 768px) {
					width: 50%;	
					padding: 0;
				}
				color: #4ac6e2;
				text-align: center;
				h1,p{
					color: #4ac6e2;
				}
				h1{
					font-size: 33px;
					font-weight: bold;
					letter-spacing: .05em;
				}
				p{
					font-size: 19px;
					line-height: 1.3em;
					letter-spacing: .05em;
				}
			}
			.post-thumbnail{
				@media screen and (min-width: 768px) {
					width: 50%;	
				}
				img{
					max-width: 100%;
				}
			}

		}
	}
	.post-content{
		max-width: 735px;
		margin: 0 auto;
		padding: 6.5em 2em 6.5em;
		color: black;
		position: relative;
		blockquote{
			border-left:none;
			padding: 0;
			margin: 0;
			font-style: normal;
			p{
				font-size: 40px;
				line-height: 1.35em!important;
				margin-bottom: 2.6em;
				letter-spacing: .025em;
				font-style: normal;
			}
		}
		p{
			font-size: 19px;
			margin-bottom: 2em;
			line-height: 1.6em;
			letter-spacing: .05em;
			color: black;
		}
		.back-to-top{
			position: absolute;
			bottom: calc(6.5em + 2em);
			right: -50px;
			.up-arrow{
				width: 2px;
				height: 80px;
				background: #4ac6e2;
				margin: 0 auto 35px;
				position: relative;
				&:before{
					content: '';
					display: block;
					width: 16px;
					height: 16px;
					position: absolute;
					top: 1px;
					left: -8px;
					transform: rotate(-45deg);
					border-top: 2px solid #4ac6e2;
					border-right: 2px solid #4ac6e2;
				}
			}
		}
	}
	.featured-stories-section{
		max-width: 1100px;
		margin: 0 auto;
		padding-bottom: 3em;
		h2{
			color: black;
			font-size: 19px;
			line-height: 1.6em;
			letter-spacing: .05em;
			text-align: center;
			padding-bottom: 2em;
		}
		.featured-stories{
			padding: 0 2em;
			text-align: center;
			@media screen and (min-width: 768px) {		
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
			}
			.featured-story{
				box-sizing:border-box;
				padding: 0 25px;
				width: 33.334%;
				text-align: left;
				img{
					max-width: 100%;
				}
				h4{
					color: black;
					font-size: 19px;
					line-height: 1.6em;
					letter-spacing: .05em;
				}
			}
		}
	}
}