.container{
	max-width: 1260px;
	width: auto;
		.sixteen.columns
		{
			width: 100%;
		}
	}


.how-i-uzit-archive{
	padding-top: 0;
	.archive-header{
		max-width: 1260px;
		margin: 0 auto;
		
		position: relative;
		img{
			max-width: 100%;
		}
		.archive-header-content{
			padding: 50px 20px 0;
			box-sizing: border-box;
			text-align: center;
			p{
				font-size: 18px;
				max-width: 600px;
				margin: 0 auto;
			}
		}
		h1{
			color: #6DC4DF;
			letter-spacing: .2em;
			text-transform: uppercase;
			margin-bottom: 20px;
			@media screen and (min-width: 768px) {	
				font-size: 40px;
				letter-spacing: .1em;
			}
			font-weight: bold;
		}
	}
	.how-i-uzit-posts{
		width: 100%;
		max-width: 1099px;
		padding: 4em 0 0;
		margin: 0 auto;
		box-sizing: border-box;
		@media screen and (min-width: 768px) {		
			display: flex;
			align-items: center;
			justify-content: left;
			flex-wrap: wrap;
		}
		.hiu-post{
			padding: 0 20px 20px;
			width: 100%;
			text-align: left;
			position: relative;
			box-sizing: border-box;
			display: block;
			@media screen and (min-width: 480px) {
				padding: 0 10px 20px;
				width: 50%;	
			}
			@media screen and (min-width: 1024px) {
				width: 33.334%;	
			}
			&:hover{
				.post-titles{
					background-color: rgba(0,0,0,0.5);
					color: white;
					h2,p{
						color: white;

					}
				}
			}
			img{
				max-width: 100%;
				display: block;
			}
			.post-titles{
				padding: 10px 20px 0;
				text-align: center;
				@media screen and (min-width: 768px) {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					color: transparent;
					padding: 0px 20px;		
					@include transition((background .3s ease-in-out));
				}
				h2{
					text-transform: uppercase;
					margin-bottom: 0;
					@media screen and (max-width: 768px) {
						font-size: 16px;
					}
				}
				h2,p{
					@media screen and (min-width: 768px) {		
						color: transparent;
					}
					@include transition((color .3s ease-in-out));
				}
				p{
					display: none;
					@media screen and (min-width: 768px) {
						display: block;
					}
				}
			}
		}
	}
}
.how-i-uzit-content{
	background-color: white;
	padding-top: 0;
	&.pageContent .how-i-uzit-post .container{
		padding-top: 0!important;
		background-color: white!important;

	}
}

.how-i-uzit-post{
	background: white;
	.back-area{
		text-align: center;
	}
	.back-to-top{			
			display: inline-block;
			position: relative;	
			margin: 10px auto 20px;				
			cursor: pointer;
			color: black;
			.up-carrot{
				@media screen and (max-width: 768px) {
					display: none;
				}
				
				position: relative;
				left: 50%;
				top: -15px;
				display: inline-block;
				width: 16px;
				height: 16px;
				transform: rotate(-45deg);
				border-top: 2px solid #4ac6e2;
				border-right: 2px solid #4ac6e2;
				&:before{
					content: '';
				}
			}
		}
	.how-i-uzit-post-header{
		background: black;
		.how-i-uzit-post-content{
			max-width: 100%;
			margin: 0 auto;
			width: 100%;
			flex-direction: column-reverse;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			background: black;
			position: relative;
			@media screen and (min-width: 768px) {
				flex-wrap: nowrap;
				flex-direction: row;
			}
			.back-to-hiu{
				position: relative;
				top: -30px;
				color: #6DC4DF;
				// padding-left: 20px;
				@media screen and (min-width: 768px) {
					// position: absolute;
					// left: 20px;
					// top: 0px;
					// padding-top: 40px;
					// padding-left: 0;
				}
			}
			.post-title-excerpts{
				padding: 4em 20px 2em;
				width: 100%;
				box-sizing: border-box;
				@media screen and (min-width: 768px) {
					width: 50%;	
					padding: 0 20px;

				}
				color: white;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				h1,p{
					color: white;
				}
				h1{
					font-size: 33px;
					font-weight: bold;
					letter-spacing: .05em;
					margin-bottom: 1em;
					text-transform: uppercase;
				}
				p{
					max-width: 500px;
					font-size: 19px;
					line-height: 1.3em;
					letter-spacing: .05em;
				}
			}
			.post-thumbnail{
				width: 100%;
				@media screen and (min-width: 768px) {
					width: 50%;	
				}
				img{
					width: 100%;
				}
			}

		}
	}
	.prev-next-story{
		position: relative;
		display: none;
		@include respond-min(1400)
		{
			display: block;
		}
		.prev-story,.next-story{
			display: none;
			position: absolute;
			width: 150px;
			top: 140px;
			display: block;
			z-index: 99;
			img{
				display: block;
			}
			span{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				text-align: left;
				display: flex;
				align-items: center;
				justify-content: left;
				text-transform: uppercase;
				color: transparent;
				@include transition((color .3s ease-in-out, background .3s ease-in-out));
				background: rgba(0,0,0,.6);
					color: white;
			}
			.arrow{
				display: block;
				width: 40px;
				height: 40px;
				border-top: 2px solid transparent;
				border-right: 2px solid transparent;
				@include transition((left .2s ease-in-out, right .2s ease-in-out, border-color .2s ease-in-out));
			}
			&:hover{
				span{
					background: rgba(0,0,0,.6);
					color: white;
				}
				&.prev-story{
					.arrow{
						border-color: white;
						left: 5px;
					}
				}
				&.next-story{
					.arrow{
						border-color: white;
						right: 5px;
					}
				}
			}
		}
		.prev-story{
			left: 0;
			span{
				padding-left: 10px;
			}
			.arrow{
				position: relative;
				left: 10px;
				@include transform(rotate(-135deg));
			}
		}
		.next-story{
			right: 0;
			span{
				padding-left: 20px;
			}
			.arrow{
				position: relative;
				right: 10px;
				@include transform(rotate(45deg));
			}
		}
	}
	.post-content{
		max-width: 1100px;
		margin: 0 auto;
		padding: 3.5em 2em 3.5em;
		color: black;
		position: relative;
		@include respond-min(1260)
		{
			padding: 5em 2em 5em;
		}
		blockquote{
			border-left:none;
			padding: 0;
			margin: 0;
			font-style: normal;
			max-width: 900px;
			margin: 0 auto;
			text-align: center;
			p{
				font-size: 24px;
				line-height: 1.35em!important;
				margin-bottom: 2.6em;
				letter-spacing: .025em;
				font-style: normal;
				@include respond-min(1260)
				{
					font-size: 28px;
				}
				&:after{
					content: '';
					display: block;
					border-bottom: 1px solid black;
					width: 30%;
					min-width: 200px;
					margin: 40px auto 0;
				}
			}
		}
		p{
			strong{}
			font-size: 16px;
			margin-bottom: 1em;
			line-height: 1.6em;
			letter-spacing: .05em;
			color: black;
		}
		
	}
	.featured-stories-section{
		margin: 0 auto;
		padding-bottom: 3em;
		opacity: 0;
		visibility: hidden;
		@include transition((opacity .3s ease-in-out));
		&.visible{
			opacity: 1;
			visibility: visible;
		}
		h2{
			color: black;
			font-size: 19px;
			line-height: 1.6em;
			letter-spacing: .05em;
			text-align: center;
			padding-bottom: 0em;
			@media screen and (min-width: 768px) {
				
			}
		}
		.featured-stories{
			text-align: center;
			@media screen and (min-width: 480px) {		
				// display: flex;
				// align-items: center;
				// justify-content: left;
				// flex-wrap: wrap;
			}
			.featured-story{
				display:block;
				outline: none;
				box-sizing:border-box;
				padding: 0 10px;
				text-align: left;
				img{
					max-width: 100%;
				}
				h4{
					color: black;
					font-size: 16px;
					line-height: 1.6em;
					letter-spacing: .03em;
				}
			}
		}
	}
}